<div class="site-blocks-cover overlay" style="background-image: url(/Assets/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center text-center justify-content-center">
            <div class="col-md-8">
                <span class="sub-text">Serikat Challenge</span>
                <h1>Creative Designs</h1>
            </div>
        </div>
    </div>
</div>

<br />

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="sub-title">Meet Our Team</span>
                <h2 class="font-weight-bold text-black mb-5">Our Team</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                    <div class="bio-img">
                        <figure>
                            <img src="https://media.licdn.com/dms/image/C5603AQGT4qXtM_71IA/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=hFrg5pPyKOP48BLsozVf-hXJHJYvgRy4-hMMof1wty8" alt="Daniel Calvo" class="img-fluid">
                        </figure>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/daniel-calvo-perfecto/"><span class="icon-linkedin"></span></a>
                            <a href="https://github.com/DanielCalPer"><span class="icon-github"></span></a>

                        </div>
                    </div>
                    <h2>Daniel Calvo</h2>
                    <span class="sub-title">Engineer-Software Developer</span>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                    <div class="bio-img">
                        <figure>
                            <img src="https://media.licdn.com/dms/image/C5603AQEEmEs1PmodpQ/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=P9tmz_Y3j-fuwBdSVZ_P_k_J7YfTYE1RxaXVf7cNZW8" alt="Raúl López" class="img-fluid">
                        </figure>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/raullopezhernandoprogramador/"><span class="icon-linkedin"></span></a>
                            <a href="https://github.com/raullopezhernando"><span class="icon-github"></span></a>

                        </div>
                    </div>
                    <h2>Raul López</h2>
                    <span class="sub-title">Software Developer</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                    <div class="bio-img">
                        <figure>
                            <img src="https://media.licdn.com/dms/image/C5603AQGrDhKwEuKkDg/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=el75rGGuNtO9OR1TA0x3BZRl2Xe_n27Q3tmHPjhPwq4" alt="Mauricio Cavallini" class="img-fluid">
                        </figure>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/mauriciocavalliniprogramadorpuntonet/"><span class="icon-linkedin"></span></a>
                            <a href="https://github.com/mauricioacp"><span class="icon-github"></span></a>
                            <a href="https://www.instagram.com/mauricio1acp/?hl=es"><span class="icon-instagram"></span></a>
                        </div>
                    </div>
                    <h2>Mauricio Cavallini</h2>
                    <span class="sub-title">Software Developer</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="site-half">
    <div class="img-bg-1"  style="background-image: url(/images/IMG_20191210_141856.jpg);"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-md-12 col-lg-7 ml-lg-auto py-5">
                <span class="sub-title">Web-App Developers</span>
                <h2 class="font-weight-bold text-black font-secondary mb-4">Why Choose Us</h2>
                <p>loremque numquam quod.</p>
                <p class="mb-4">ciunt recusandae repellendus asperiores amet.</p>

                <ul class="list-unstyled ul-check primary">
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                    <li>Consectetur tempora distinctio ipsam</li>
                    <li>Recusandae repellendus asperiores amet</li>
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                    <li>Consectetur tempora distinctio ipsam</li>
                </ul>
            </div>
        </div>
    </div>
</div>
