
<div class="site-blocks-cover overlay" style="        background-image: url(/Assets/images/hero_bg_1.jpg);
" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center text-center justify-content-center">
            <div class="col-md-8">
                <span class="sub-text">Serikat Challenge</span>
                <h1>Easy Canvas Designs</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-block-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-interior-design font-weight-light h2"></span>
                    </div>
                    <div class="text">
                        <h3>Room</h3>
                        <p>Made in Canvas</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-measuring font-weight-light h2"></span>
                    </div>
                    <div class="text">
                        <h3>Door</h3>
                        <p>Powered by Fabric.Js</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-window font-weight-light h2"></span>
                    </div>
                    <div class="text">
                        <h3>Window</h3>
                        <p>Make your own designs</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="site-section  border-bottom">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <div class="media custom-media">
                    <div class="mr-3 icon"><span class="flaticon-interior-design display-4"></span></div>
                    <div class="media-body">
                        <h5 class="mt-0">Creative Solutions</h5>
                        Intelligent web-app to create blueprints
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <div class="media custom-media">
                    <div class="mr-3 icon"><span class="flaticon-measuring display-4"></span></div>
                    <div class="media-body">
                        <h5 class="mt-0">Agile Design</h5>
                        Enhanced user experience
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <div class="media custom-media">
                    <div class="mr-3 icon"><span class="flaticon-turned-off display-4"></span></div>
                    <div class="media-body">
                        <h5 class="mt-0">Intuitive Interface</h5>
                        Easier and simple.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="img-border">
                    <img src="https://media.istockphoto.com/vectors/architectural-plan-of-a-house-layout-of-the-apartment-with-the-in-vector-id692744578" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 ml-auto">
                <span class="sub-title">Made with Fabric.Js</span>
                <h2 class="font-weight-bold text-black mb-5">Our Team</h2>
                <div class="accordion" id="accordionExample">

                    <h2 class="mb-0 border rounded mb-2">
                        <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Daniel Calvo
                        </button>
                    </h2>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Bootcamp <a href="#">Software Developer</a> Math genius behind the App.</p>
                        </div>
                    </div>

                    <h2 class="mb-0 border rounded mb-2">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2.Raúl López
                        </button>
                    </h2>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Bootcamp <a href="#">Software Developer</a> Focused on User Experience.</p>
                        </div>
                    </div>

                    <h2 class="mb-0 border rounded mb-2">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Mauricio Cavallini
                        </button>
                    </h2>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Bootcamp <a href="#">Software Developer</a> Marketing Strategist</p>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>



<div class="container site-section block-13 testimonial-wrap">

    <div class="row">
        <div class="col-12 text-center">
            <span class="sub-title">Happy Clients</span>
            <h2 class="font-weight-bold text-black mb-5">Testimonials</h2>
        </div>
    </div>

    <div class="nonloop-block-13 owl-carousel">

        <div class="testimony">
            <img src="https://media.licdn.com/dms/image/C5603AQGArwfV4e9wIg/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=SBU8VbbURoqg6EGFR6QupoUZPdkKNGh89gFC4sBsrmo" alt="Image" class="img-fluid">
            <h3>Noelia Mínguez</h3>
            <span class="sub-title">MBA-Software Developer</span>
            <p>&ldquo;<em>There isn´t another product that makes so easy to create canvas Blueprints, original and simple. </em>&rdquo;</p>
        </div>

        <div class="testimony">
            <img src="https://media.licdn.com/dms/image/C4D03AQH1LT4mp_9Qdg/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=T1mSZDdX3x6-ELiosVMASUi5lYLucdbtA11L1ddOYw0" alt="Image" class="img-fluid">
            <h3>Elena Larrakoetxea</h3>
            <span class="sub-title">Software Developer-Biologist</span>
            <p>&ldquo;<em>Cool app! a must for architects looking up to engage new clients in their web-apps.</em>&rdquo;</p>
        </div>

        <div class="testimony">
            <img src="https://media.licdn.com/dms/image/C4E03AQGwgS7Ab-iE7w/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=wiGInyCSd_gFA3x8hJS_9cLbAqhfwfHyzdzDvPkd9rU" alt="Image" class="img-fluid">
            <h3>Xavier Morales</h3>
            <span class="sub-title">Architect</span>
            <p>&ldquo;<em>When i used it the first time i knew there where be no more paper designs sent by email, now my clients can do it directly in my own web-app</em>&rdquo;</p>
        </div>

        <div class="testimony">
            <img src="https://media.licdn.com/dms/image/C4D03AQGq6hdiAQ8Pnw/profile-displayphoto-shrink_800_800/0?e=1582156800&v=beta&t=0N5Hdh7KW2lNfBLnDXB8MVV9FtQC9s7xz9zeUbhpIw4" alt="Image" class="img-fluid">
            <h3>Arrate Ortíz</h3>
            <span class="sub-title">Software Lead Instructor</span>
            <p>&ldquo;<em>Bullet-Poof Canvas Design Web-App</em>&rdquo;</p>
        </div>
    </div>
</div>

<div class="site-section site-block-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="img-border">
                    <img src="~/Assets/images/BOOT CAMP DEVELOPERS.png" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row row-items">
                    <div class="col-6">
                        <a href="#" class="d-flex text-center feature active p-4 mb-4 bg-white">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-turned-off display-3"></span>
                                </span>
                                <h3>Blueprints</h3>
                            </span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="d-flex text-center feature active p-4 mb-4 bg-white">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-interior-design display-3"></span>
                                </span>
                                <h3>Rooms</h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row row-items last">
                    <div class="col-6">
                        <a href="#" class="d-flex text-center feature active p-4 mb-4 bg-white">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-measuring display-3"></span>
                                </span>
                                <h3>Doors</h3>
                            </span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="d-flex text-center active feature active p-4 mb-4 bg-white">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-window display-3"></span>
                                </span>
                                <h3>Windows</h3>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

